<%= render 'users/shared/home'%>
<div class="right_col" role="main" style="min-height: 600px;">
  <div class="clearfix">
    <div class="x_panel">
      <div class="x_content">
        <p>
          <strong>Name:</strong>
          <%= @group.name %>
        </p>

        <p>
          <strong>Members:</strong>
          <table class="table" >
            <thead>
              <tr>
                <th>Member Name</th>
              </tr>
            </thead>
            <tbody>
              <% @group.users.each do |group_user| %>
              <tr>
                <td><%= group_user.try(:first_name) %></td>

              </tr>
              <% end %>
            </tbody>
          </table>
        </p>

        <%= link_to  groups_path, class: 'btn btn-primary btn-sm' do %>
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
        <% end %>
        <%= link_to edit_group_path(@group), class: 'btn btn-success btn-sm' do %>
          <i class="fa fa-edit" aria-hidden="true"></i> Edit
        <% end %>
      </div>
    </div>
  </div>
</div>
