<div data-controller='customers'>
  <div class="right_col" role="main" style="min-height: 600px;">
    <%= form_with(model: @user, local: true, class: 'form-horizontal form-label-left') do |f| %>
        <div class="x_panel" style="min-height: 600px;">
        <div class="nav navbar-right panel_toolbox">
        </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('user.first_name') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('user.last_name') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('user.email') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('user.contact_number') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :contact_number, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('user.address') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_area :address, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <%= link_to users_path, class: 'btn btn-primary' do %>
                <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('back') %>
              <% end %>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
         </div>
      </div>
    <% end %>
  </div>
</div>
