<%= render 'users/shared/home'%>
<div class="right_col" role="main" style="min-height: 600px;">
  <h1>Make New Friends  <i class="fa fa-smile-o"></i></h1>
  <div class="container mb-5">
  	<div class="row">
      <div class="col-md-6">
        <div id="custom-search-input">
          <%= search_form_for @q, url: find_friends_path do |f| %>
            <div class="input-group col-md-12">
              <%= f.search_field :search_cont, autocomplete: 'off', class: 'form-control input-lg', id: 'search-form' %>
              <span class="input-group-btn">
                <%= f.button 'Search', class: 'btn btn-info btn-lg' do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
  	</div>
  </div>
  <div class="container">
    <div class="x_panel">
      <div class="x_content">
        <table class="table" >
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.first_name, user_path(user), class: 'text-link' %></td>
                <td><%= user.email %>
                  <% if already_friends(user) %>
                    <td><button type="button" class= 'btn btn-success btn-xs', disabled= true > Friends </button> </td>
                  <% elsif check_exist_friend_request(user) %>
                    <td><button type="button" class= 'btn btn-warning btn-xs', disabled= true > Request sent </button></td>
                  <% else %>
                    <td><%= link_to create_notifications_path(user), class: 'btn btn-primary btn-xs' do %> Send Friend Request <% end %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
