<div data-controller='customers'>
  <div class="right_col" role="main" style="min-height: 600px;">
    <%= form_with(model: @post, local: true, class: 'form-horizontal form-label-left') do |f| %>
        <div class="x_panel" style="min-height: 600px;"><h1><b>Create New Post</b>
        <div class="nav navbar-right panel_toolbox">
        </div></h1><br>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('post.name') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :name, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('post.type') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_field :post_type, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
              <%= t('post.content') %>
              <span class="text-danger">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= f.text_area :content, class: 'form-control', required: true %>
            </div>
          </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
           </div>
      </div>
    <% end %>
  </div>
</div>
