<div class="right_col" role="main" style="min-height: 600px;">
<p style="color: darkgray;">*Note : select group in which you want to create post(only one) </p>
<%= form_with(model: @post, local: true, class: 'form-horizontal form-label-left') do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
    <div class="x_panel" style="min-height: 600px;">
    <div class="nav navbar-right panel_toolbox">
    </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          <%= t('post.name') %>
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          <%= t('post.type') %>
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= f.text_field :post_type, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          <%= t('post.content') %>
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= f.text_area :content, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          <%= t('group.group') %>
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= f.collection_select :group_id, list_current_user_groups, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
          <%= t('post.image') %>
          <span class="text-danger">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <%= f.file_field :image, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <%= link_to posts_path, class: 'btn btn-primary' do %>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> <%= t('back') %>
          <% end %>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
     </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  $( "#post_group_id" ).select2();
  user_name = document.getElementById('group_ids').value.split(' ');
  $('select#post_group_id').val(user_name).select2();
 </script>
